<section id="wrapper" class="login-register login-sidebar" style="background-image:url(/assets/logo1.jpg);">
    <div class="login-box card" >
        <div class="card-body"style="margin-top: 15%;">
           
           
            <form class="form-horizontal form-material" [formGroup]="personalForm" >
                <a href="javascript:void(0)" class="text-center db"><img src="/assets/logo-icon.png"  alt="Home" /><br/><h1>Sistema Administración</h1></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control"  type="text" formControlName="email" required placeholder="Nombre de Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control"  type="password" formControlName="password" required placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            
                        </div>
                        <!-- <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>--> 
                    </div> 
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button (click)="iniciarSesion();" class="btn  btn-lg btn-block text-uppercase btn-rounded" style="background:#19CEB8;color:white;" type="submit">Iniciar Sesión</button>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <!-- <div class="social"><a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a> <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a> </div> -->
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Don't have an account? <a href="pages-register2.html" class="text-primary m-l-5"><b>Sign Up</b></a>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="recoverform" action="index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>