<div class="componente">

    <h1 class="text-center">SOLICITAR ESTUDIOS</h1>

    <form style="margin-left: 21%; margin-top:5%">
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput"># Cama</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nombre paciente</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Tipo de estudio</label>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label ">Nivel de prioridad</label>
            <select class="form-select form-select-lg mb-3 w-75" aria-label=".form-select-lg example">
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Alto">Alto</option>
              </select>
          </div>
        <button class="btn btn-outline-primary mt-1" style="margin-left:62%">
          <i class="fa fa-external-link"></i> Enviar
        </button>
      </form>
    
</div>
