<div class="fix-header fix-sidebar card-no-border">
    
    <!-- ============================================ -->
    <!-- Codigo del navbar (barra en encabezado) -->
    <!-- ============================================ -->
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                      
         
                     
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./../../../../assets/images/doctor.png" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img src="../assets/images/doctor.png" alt="user"></div>
                                            <div class="u-text">
                                                <h4>Nombre del doctor</h4>
                                                <p class="text-muted">Usuario con el que inicia sesion</p></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i> Mi  perfil</a></li>
                                  
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Cerrar Sesion</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!-- ================================================== -->


    <!-- ==================================================== -->
    <!--        Codigo de la clase aside (barra later)        -->
    <!-- ==================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Actividades</li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Pacientes </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/dashboard-doctor/pacientes">Consultar pacientes</a></li>
                        </ul>
                    </li>
                   
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa-solid fa-user-nurse"></i><span class="hide-menu">Instrucciones enfermera </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/dashboard-doctor/anotaciones-medicas">Agregar instrucciones medicas</a></li>
                            
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-hospital-user"></i><span class="hide-menu">Programacion de cirugias</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#"routerLink="/dashboard-doctor/prog-cirugias">Operaciones pendientes</a></li>
                            
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-notes-medical"></i><span class="hide-menu">Solicitud de estudios</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#"routerLink="/dashboard-doctor/solicita-estudios">Solicitar estudio general</a></li>

                        </ul>
                    </li>
                    
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ======================================================= -->


    <div class="page-wrapper">
       <div class="container-fluid r-aside">
           <div class="row">
                <!-- <div class="col-lg-8 col-xlg-9"> -->
                    <div class="card">
                        <div class="card-body">
                            
                            <router-outlet></router-outlet>
                            
                        </div>
                  <!--   </div> -->
                </div>
               
            </div>
            
        </div>
        
    </div>

</div>