<div class="contenedor">
    <h1 class="text-center">Hoja de anotaciones medicas</h1>
    <button class="btn btn-outline-danger" style="border-radius: 20%;" routerLink="/dashboard-doctor/anotaciones-medicas"><i class="fa fa-backward" ></i></button>
    <button type="button" class="btn btn-outline-info float-end m-1s" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-plus" aria-hidden="true"></i> Indicaciones paciente
      </button>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Dieta</th>
                <th>Medicamento</th>
                <th>Instrucciones adicionales</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>


    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registra los datos paciente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>