<div class="componente">

    <h1 class="text-center">ANOTACIONES MEDICAS</h1>
    <table class="table w-100"> 

        <thead>
            <tr>
                <th># Cama</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Peso</th>
                <th>Tipo de sangre</th>
                <th>Edad</th>
                <th>Diagnositco</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <th>1</th>
                <th>Cesar</th>
                <th>Rodriguez</th>
                <th>Franco</th>
                <th>83 kg.</th>
                <th>O -</th>
                <th>22</th>
                <th>Lesion Aductor</th>
                <th>
                    <button class="btn btn-outline-primary" (click)="hojaPaciente()"><i class="fa fa-eye"></i> Visualizar</button>
                </th>
            </tr>
        </tbody>

    </table>
</div>