<div class="componente">

    <h1 class="text-center">PACIENTES</h1>
    <table class="table w-100">

        <thead>
            <tr>
                <th># Cama</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Peso</th>
                <th>Edad</th>
                <th>Diagnositco</th>
                <th>Sangre</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Jesus</td>
                <td>Peña</td>
                <td>Franco</td>
                <td>96kg</td>
                <td>23</td>
                <td>Lesión LCL</td>
                <td>A+</td>
                <td class="agrandar">
                    
                    <button class="btn btn-outline-warning m-1" ><i class="fa fa-edit"></i> Editar diagnostico</button>
<!--                     <button class="btn btn-outline-danger m-1"><i class="fa fa-ban"></i> Eliminar</button>
 -->                    
                </td>
            </tr>
        </tbody>

    </table>
</div>