<div class="componente">

    <h1 class="text-center">CIRUGIAS PROGRAMADAS</h1>
    <table class="table w-100"> 

        <thead>
            <tr>
                <th>#Sala</th>
                <th>Nombre del paciente</th>
                <th>Diagnostico del paciente</th>
                <th>Fecha</th>
                <th>Hora</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Shamanta</td>
                <td>
                    Operación Vesícula
                </td>
                <td>
                    10/04/2022
             </td>
                <td>
                    14:30
                </td>
                
                
            </tr>
        </tbody>

    </table>
</div>
