<div class="componente">

    <h1 class="text-center">INSTRUCCIONES PARA ENFERMERAS</h1>
    <table class="table w-100"> 

        <thead>
            <tr>
                <th>Nombre del paciente</th>
                <th>Estado actual</th>
                <th>Medicamento administrado</th>
                <th>Dosis(Hora)</th>
                <th>Cuidados especiales</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cesar</td>
                <td>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Estable</option>
                        <option value="2">En recuperacion</option>
                        <option value="3">Delicado</option>
                      </select>
                </td>
                <td>Paracetamol</td>
                <td>1 pastilla c/8h</td>
                <td>Ninguno</td>
                
                <td> 
                    <button class="btn btn-outline-warning m-1"><i class="fa fa-edit"></i> Editar</button>
                    <button class="btn btn-outline-danger m-1"><i class="fa fa-ban"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
